*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  background: radial-gradient(white, #44e0cc, #685d5d);
  width: 100%;
  height: 100vh;
}

.container img {
  position: absolute;
  right: -100px;
  width: 300px;
}

.container #cube {
  position: relative;
  top: 20%;
  left: 20%;
  width: 300px;
  height: 300px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  animation: animate 5s linear infinite;
  -webkit-animation: animate 20s linear infinite;
}

.container #cube .face {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 44%;
  left: 45%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.container #cube #left {
  background-color: green;
  transform: rotateY(-90deg);
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.container #cube #right {
  background-color: darkgoldenrod;
  transform: rotateY(90deg);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
}

.container #cube #top {
  background-color: darkorchid;
  -webkit-transform-origin: top;
          transform-origin: top;
  transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
}

.container #cube #bottom {
  background-color: #daf10b;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
}

.container #cube #front {
  background-color: #007e82;
  transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -o-transform: translateZ(0px);
}

.container #cube #front p {
  text-align: center;
  color: lawngreen;
  font-size: 40px;
  font-family: algerian;
}

.container #cube #back {
  background-color: indigo;
  transform: translateZ(300px);
  -webkit-transform: translateZ(300px);
  -moz-transform: translateZ(300px);
  -ms-transform: translateZ(300px);
  -o-transform: translateZ(300px);
  padding: 5px;
  animation: backo 5s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  -webkit-animation: backo 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

.container #cube #back span {
  display: block;
  letter-spacing: 1px;
  line-height: 35px;
  margin-top: 10px;
  color: goldenrod;
  text-align: left;
  margin: auto;
}

@-webkit-keyframes animate {
  from {
    transform: rotateY(0deg) rotateZ(0deg) rotateX(0deg);
    -webkit-transform: rotateY(0deg) rotateZ(0deg) rotateX(0deg);
    -moz-transform: rotateY(0deg) rotateZ(0deg) rotateX(0deg);
    -ms-transform: rotateY(0deg) rotateZ(0deg) rotateX(0deg);
    -o-transform: rotateY(0deg) rotateZ(0deg) rotateX(0deg);
  }
  to {
    transform: rotateY(360deg) rotateZ(360deg) rotateX(360deg);
    -webkit-transform: rotateY(360deg) rotateZ(360deg) rotateX(360deg);
    -moz-transform: rotateY(360deg) rotateZ(360deg) rotateX(360deg);
    -ms-transform: rotateY(360deg) rotateZ(360deg) rotateX(360deg);
    -o-transform: rotateY(360deg) rotateZ(360deg) rotateX(360deg);
  }
}

@keyframes animate {
  from {
    transform: rotateY(0deg) rotateZ(0deg) rotateX(0deg);
    -webkit-transform: rotateY(0deg) rotateZ(0deg) rotateX(0deg);
    -moz-transform: rotateY(0deg) rotateZ(0deg) rotateX(0deg);
    -ms-transform: rotateY(0deg) rotateZ(0deg) rotateX(0deg);
    -o-transform: rotateY(0deg) rotateZ(0deg) rotateX(0deg);
  }
  to {
    transform: rotateY(360deg) rotateZ(360deg) rotateX(360deg);
    -webkit-transform: rotateY(360deg) rotateZ(360deg) rotateX(360deg);
    -moz-transform: rotateY(360deg) rotateZ(360deg) rotateX(360deg);
    -ms-transform: rotateY(360deg) rotateZ(360deg) rotateX(360deg);
    -o-transform: rotateY(360deg) rotateZ(360deg) rotateX(360deg);
  }
}

@keyframes backo {

  from {
   transform: translateZ(50px);
   -webkit-transform: translateZ(50px);
   -moz-transform: translateZ(50px);
   -ms-transform: translateZ(50px);
   -o-transform: translateZ(50px);
   padding: 5px;
}

to {
    transform: translateZ(300px);
    -webkit-transform: translateZ(300px);
    -moz-transform: translateZ(300px);
    -ms-transform: translateZ(300px);
    -o-transform: translateZ(300px);
    padding: 5px;
}

  
}
/*# sourceMappingURL=index.css.map */